---
import Layout from '../layouts/Layout.astro';
---

<Layout theme="teal">
	<h1>About</h1>
	Frutiger Astro is a website template for Astro which allows you to build mobile-friendly websites inspired
	by the Frutiger Aero aesthetic.
	<br />
	The template includes a base layout with a theming system, meaning that you can customize your website without needing
	to modify the stylesheet.
</Layout>
